@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

a {
  @apply text-blue-500 hover:text-blue-600;
}

.btn-primary {
  @apply bg-blue-500 rounded-md text-white hover:bg-blue-600 hover:text-white px-10 py-3 inline-block;
}